<div [ngClass]="{'text-bg-warning': isLastChance}" class="card h-100 text-center" data-testid="card">
  <img class="card-img-top" [attr.src]="product().photo" alt="Product image" />
  <div class="card-header">
    <small>{{ product().description }}</small>
  </div>
  <div class="card-body">
    <h3 class="h6 card-title">
      <a class="card-link">{{ product().title | uppercase}}</a>
    </h3>
    <p class="card-text">{{ product().price | currency}}</p>
    <button class="btn btn-primary" (click)="handleAddBasket()">Ajoutez au panier</button>
  </div>
</div>
