@if (displayErrorMessage()) {
  <div class="mt-3 alert alert-danger alert-dismissible" role="alert">
    Désolé, une erreur s'est produite.
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="displayErrorMessage.set(false)"
    ></button>
  </div>
} @else if (displayConfirmationMessage()) {
  <div class="mt-3 alert alert-success" role="alert">
    <h4 class="alert-heading">Confirmation de la commande 🎉</h4>
    N° de transaction: <strong>{{ order() }}</strong>
    <hr />
    <a class="alert-link" routerLink="/">Retourner à l'accueil</a>
  </div>
}

<div class="card mt-3">
  <div class="card-header">Paiement</div>

  <div class="card-body">
    <form #checkoutForm="ngForm" (ngSubmit)="checkout(checkoutForm.value)">
      <div class="mb-2">
        <label class="form-label" for="field-name">Nom *</label>
        <input
          id="field-name"
          name="name"
          class="form-control"
          [class.is-invalid]="nameModel.touched && nameModel.invalid"
          [class.is-valid]="nameModel.valid"
          ngModel
          #nameModel="ngModel"
          required
          [disabled]="checkoutInProgress()"
        />
        <span class="invalid-feedback">Champ obligatoire</span>
      </div>

      <div class="mb-2">
        <label class="form-label" for="field-address">Adresse *</label>
        <textarea
          id="field-address"
          name="address"
          class="form-control"
          [class.is-invalid]="addressModel.touched && addressModel.invalid"
          [class.is-valid]="addressModel.valid"
          ngModel
          #addressModel="ngModel"
          required
          [disabled]="checkoutInProgress()"
        ></textarea>
        <span class="invalid-feedback">Champ obligatoire</span>
      </div>

      <div class="mb-2">
        <label class="form-label" for="field-creditCard">
          Carte de crédit *
        </label>
        <input
          id="field-creditCard"
          name="creditCard"
          class="form-control"
          ngModel
          #creditCardModel="ngModel"
          required
          pattern="^[0-9]{3}-[0-9]{3}$"
          [class.is-invalid]="
            creditCardModel.touched && creditCardModel.invalid
          "
          [class.is-valid]="creditCardModel.valid"
          [disabled]="checkoutInProgress()"
        />
        @if (creditCardModel.hasError("required")) {
          <span class="invalid-feedback">Champ obligatoire</span>
        } @else if (creditCardModel.hasError("pattern")) {
          <span class="invalid-feedback">
            Numéro invalide (exemple : 123-456)
          </span>
        }
      </div>

      <div class="mt-3">
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="checkoutForm.invalid || checkoutInProgress()"
        >
          Valider
        </button>
      </div>
    </form>
  </div>
</div>
